.menuBar{
    padding: 10px 10px 10px 10px;
    border:1px solid black;
    width:100%;
    display:block;
    position:fixed;
    background-color: #032336;
    color : #eeeeee;
    top:0;
    left:0;
    }
.logo{
    float:left;
    }
.nav{
    float:none;
    margin-right:10px;}
.nav ul li{
    list-style:none;
    float:left;
    }

html {
  height: 100%;
}
body {
  min-height: 100%;
  max-width: 95%;
  font-family: Georgia, serif;
  margin-top:40px;
  color: black;
  background-color: #eeeeee;
}
#body {
  padding: 1em;
}
h1 {
  font-size: 2em;
  margin: 0;
}
h1 small {
  font-size: 60%;
}
code {
  font: 90% monospace;
  background: #DDD;
  border-radius: .3em;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  padding: 0 .3em;
}
code:hover {
  color: #DDD;
  background: #222;
}
a {
  color: mediumblue;
  text-decoration: none;
}
a:hover {
  color: black;
  text-shadow: #40F 0 0 .2em;
}
a:active {
  color: #400;
  text-shadow: red 0 0 .2em;
}
ul {
  padding-left: 1em;
}

/* OpenNotebook-Web styles */
div.problem-summary-container {
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}

div.answer-incorrect {
    background-color:#FFDEDE;
}

.error-highlight{
    background-color:#FF99CC;
}

.success-highlight{
    background-color:#99FFBB;
}

div.answer-partially-correct {
    background-color:#FFFDBF;
}

div.answer-correct {
    background-color:#D0FFC9;
}

div.show-correct-div {
    border:1px solid black;
    background-color:#D0FFC9;
    border-radius: 2px;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

div.show-incorrect-div {
    border:1px solid black;
    background-color:#FFDEDE;
    border-radius: 2px;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

div.show-partially-correct-div {
    border:1px solid black;
    background-color:#FFFDBF;
    border-radius: 2px;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

div.similar-assignment-filters {
    border:1px solid black;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    border:1px solid black;
    background-color:#FFFDBF;
}

div.assignment-filters {
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}

div.similar-student-answers {
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    background-color:#D2DFE6;
    box-shadow: 0 10px 6px -6px #777;
}

div.student-work {
    border:1px solid black;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 10px 6px -6px #777;
}

div.problem-container {
    /* border:1px solid black; */
    background-color:#D2DFE6;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 10px 6px -6px #777;
}

span.solution-step {
    margin: 5px 10px 10px 10px;
}

#assignment-container {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
