html {
  background-color: #DDF;
  height: 100%;
}
body {
  min-height: 100%;
  max-width: 95%;
  margin: 0 auto;
  font-family: Georgia, serif;
  color: black;
  background-color: white;
  box-shadow: 0 0 1em black;
  -moz-box-shadow: 0 0 1em black;
  -webkit-box-shadow: 0 0 1em black;
}
#body {
  padding: 1em;
}
h1 {
  font-size: 2em;
  margin: 0;
}
h1 small {
  font-size: 60%;
}
code {
  font: 90% monospace;
  background: #DDD;
  border-radius: .3em;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  padding: 0 .3em;
}
code:hover {
  color: #DDD;
  background: #222;
}
a {
  color: mediumblue;
  text-decoration: none;
}
a:hover {
  color: black;
  text-shadow: #40F 0 0 .2em;
}
a:active {
  color: #400;
  text-shadow: red 0 0 .2em;
}
ul {
  padding-left: 1em;
}

/* OpenNotebook-Web styles */
div.problem-summary-container {
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}

div.answer-incorrect {
    background-color:#FFDEDE;
}

.error-highlight{
    background-color:#FFAACC;
}

.success-highlight{
    background-color:#AAFFBB;
}

div.answer-partially-correct {
    background-color:#FFFDBF;
}

div.answer-correct {
    background-color:#D0FFC9;
}

div.similar-student-answers {
    border:1px solid black;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    border:1px solid black;
    background-color:#D1EDFC;
}

div.student-work {
    border:1px solid black;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 10px 6px -6px #777;
}

div.problem-container {
    float:none;
    overflow: hidden
    border:1px solid black;
    background-color:#DDEDFC;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 10px 6px -6px #777;
}

span.solution-step {
    margin: 5px 10px 10px 10px;
}

#assignment-container {
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}
